/* Home */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/*
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
*/

body {
  margin: 0;
}

.header {
  /* position: fixed; */
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: orange;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 5px solid;
}

.box {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.wrapper {
  margin: 0 0 10px 0;
  padding: 10px;
  background-color: rgb(250, 209, 133);
  width: auto;
  height: auto;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4);
  grid-template-rows: repeat(4);
  align-content: space-around;
  justify-content: space-between;
}

.item-question {
  grid-column: 1 / 5;
  grid-row: 1 / 1;
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-button {
  grid-column: 3 / 4;
  grid-row: 3 / 3;
  display: flex;
  justify-content: center;
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-answer1 {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  display: flex;
  justify-content: center;
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-answer2 {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  display: flex;
  justify-content: center;
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-answer3 {
  grid-column: 3 / 3;
  grid-row: 2 / 2;
  display: flex;
  justify-content: center;
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-answer4 {
  grid-column: 4 / 4;
  grid-row: 2 / 2;
  display: flex;
  justify-content: center;
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-final-answer {
  grid-column: 1 / 5;
  grid-row: 4 / 4;
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: orange;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 5px solid;
}

/* Profile Pic: */
.profile-pic {
  border-radius: 50%;
}
